<ul class="breadcrumb">
    <li><a href="/productos">Todos</a></li>
    {{#each categorias}}
    {{#if (estado @root.catPadre this.id)}}
    <li><a href="productos?catPadre={{this.id}}&catHijo=">{{this.nombre}}</a></li>
    {{/if}}
    {{/each}}
    {{#each subCat}}
    {{#if (estado @root.catHijo this.id)}}
    <li>{{this.nombre}}</li>
    {{/if}}
    {{/each}}
</ul>
<div class="productos-filtro-contenedor">
    <div class="productos-filtro-contenido">
        <p>filtros</p>
        <i class="fas fa-chevron-right filtro"></i>
    </div>
    <div class="productos-filtro-items">
        <div class="productos-filtro-items-contenido">
            <div>
                <div class="producto-filtro-item">
                    <p>categoria</p>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <div class="contenido-filtro">
                    <div class="contenido-filtro-items catPadre">
                        {{#each categorias}}
                        <hr>
                        <p id="{{this.id}}" class="padre">{{this.nombre}}</p>
                        {{/each}}
                        <hr>
                    </div>
                    <input type="hidden" id="catActual" value="{{catPadre}}">
                </div>
            </div>
            {{#if subCat}}
            <div>
                <div class="producto-filtro-item">
                    <p>Subcategoria</p>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <div class="contenido-filtro">
                    <div class="contenido-filtro-items subCat">
                        {{#each subCat}}
                        <hr>
                        <p id="{{this.id}}" class="hijo">{{this.nombre}}</p>
                        {{/each}}
                        <hr>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>
{{> mostrarProductos productos=productos}}
<script src="/js/productos.js"></script>