<!-- DETALLE PRODUCTO -->
<div class="titulo-destacados">
    <div class="titulo-contenido">
        <h4>{{producto.nombre}}</h4>
        <i class="fas fa-plus-circle"></i>
    </div>
</div>
<div class="contenedor-detalle-producto">
    <div class="imagenes-detalle-producto">
        <div class="img-principal-producto">
            {{#each producto.imgs}}
            <img src="/img/{{this}}" alt="">
            {{/each}}
        </div>
        <div class="navegacion-detalle-producto">
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
    <div class="detalle-producto">
        <div class="texto-detalle-producto">
            <h3>{{producto.nombre}} -- {{producto.categoria.nombre}}</h3>
            <p>
                {{producto.descripcion}}
            </p>
        </div>
        <div class="pago-detalle-producto">
            <h3>Cantidad:</h3>
            <div class="number-input">
                <button class="down"></button>
                <input class="quantity cantidad-productos" min="1" name="quantity" value="1" type="number" max="{{producto.cantidad}}">
                <button class="plus"></button>
            </div>
            <div class="pago-detalle-boton">
                <button href="/cart/add/{{producto.id}}" data-id="{{producto.id}}" class="boton-agregar-producto">
                    <i class="fas fa-cart-plus"></i>
                    lo quiero
                </button>
            </div>
        </div>
    </div>
</div>
<!-- PRODUCTOS SIMILARES -->
<div class="titulo-destacados">
    <div class="titulo-contenido">
        <h4>similares</h4>
        <i class="fas fa-plus-circle"></i>
    </div>
</div>
<div class="contenedor">
    <div class="fila">
        {{#each productos}}
        <div class="tarjeta">
            <div class="tarjeta-imagen">
                <img src="/img/{{imgs}}" alt="">
                <p>{{precio}}</p>
                <div class="imagen-icon">
                    <i class="fas fa-music"></i>
                </div>
            </div>
            <div class="tarjeta-cuerpo">
                <div class="tarjeta-titulo">
                    <h6>{{categoria.nombre}}</h6>
                </div>
                <div class="tarjeta-texto">
                    <p>{{nombre}}</p>
                </div>
                <div class="tarjeta-botones">
                    <a href="/producto/{{id}}"><i class="fas fa-plus-circle"></i>Ver</a>
                    <a href="/cart/agregar/{{id}}/1"><i class="fas fa-cart-plus"></i>Añadir</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script src="/js/producto.js"></script>