<div class="row w-100">
    {{>sidebarCliente}}
    <div class="col-md-10 filas-detalles">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Bienvenido {{user.nombre}} {{user.apellido}} !</h1>
            <div class="col-md-4">
                <select id="estado-venta-cliente" class="form-control mr-4">
                    <option value="">Estado Pedido</option>
                    {{#each estados }}
                    <option value="{{this}}" {{#if (estado @root.actualEstado this) }}selected{{/if}}>
                        {{this}}
                    </option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row">
            {{#each ventas}}
            <div class="col-sm-3 m-2">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <div class="card text-white shadow h-100 py-2 {{#background this.estadoPedido}}{{/background}}">
                    <div class="card-body">
                        <p class="card-title">Fecha: {{#date this.fecha}}{{/date}}</p>
                        <p class="card-text">Total: {{this.total_venta}}</p>
                        <p class="card-text">Forma de Pago: {{this.forma_pago}}</p>
                        <p class="card-text">Estado pedido: {{this.estadoPedido}}</p>
                        <p class="card-text">Domicilio entrega: {{this.domicilio}}</p>
                        <button type="button" data-id="{{this.id}}" class="btn btn-success detalle-venta">Ver Detalle</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{!-- MODAL DETALLE VENTA --}}
<div id="modal-detalle" class="mascara">
    <div class="contenido">
      <div class="modal-header border-0">
        <h2 id="titulo-modal">Detalle Venta</h2>
        <span class="cerrar" id="cerrarModalDetalle">&times;</span>
      </div>
      <div class="modal-body">
        <section>
            <table class="table text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Imagen</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody id="panelResultadosModal">

                </tbody>
            </table>
        </section>
      </div>
    </div>
</div>
<script src="/js/ventaListado.js"></script>