<div class="row w-100">
    {{>sidebar}}
    <div class="col-md-10">
        <div class="row justify-content-around mb-2">
            <div class="col-md-8 mx-auto pt-3">
                <div class="card-header text-center">
                    <h3>{{titulo}}</h3>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <form method="POST" action="{{action}}" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="hidden" name="imagen" value="{{producto.imagen}}">
                                    <div class="form-group">
                                        <input type="text" name="nombre" id="nombre" placeholder="Nombre"
                                            class="form-control" value="{{producto.nombre}}">
                                        <span class="text-danger">{{e.nombre}}</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" name="precio" id="precio" placeholder="Precio"
                                            class="form-control" value="{{producto.precio}}">
                                        <span class="text-danger">{{e.precio}}</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" name="cantidad" id="cantidad" placeholder="Cantidad"
                                            class="form-control" value="{{producto.cantidad}}" min="1">
                                        <span class="text-danger">{{e.cantidad}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select id="categoria" name="id_prod_cat" class="form-control">
                                            <option value="0">Categoria</option>
                                            {{#each categorias as |item|}}
                                            <option value="{{item.id}}" {{#if (estado @root.actual item.id)}}selected{{/if}}>{{item.nombre}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="subCategoria" name="id_prod_cat_padre" class="form-control">
                                            <option value="0">SubCategoria</option>
                                            {{#each subCats as |item|}}
                                            <option value="{{item.id}}" {{#if (estado @root.subCat item.id)}}selected{{/if}}>{{item.nombre}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" id="imagen" name="imagen" class="form-control-file" multiple>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                            <textarea name="descripcion" id="editor">
                                                {{{producto.descripcion}}}
                                            </textarea>
                                        <span class="text-danger">{{e.descripcion}}</span>
                                    </div>
                                    <div class="form-check">
                                        <div>
                                            <input type="checkbox" name="destacado" class="form-check-input"
                                                {{#if producto.destacado}}checked{{/if}}>
                                            <span>destacado</span>
                                        </div>
                                    </div>
                                    <div class="form-group mt-4">
                                        <button type="submit" class="btn btn-primary">{{boton}}</button>
                                        <a href="/admin/productos/1" class="btn btn-sm btn-light">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-3">
                <div class="card">
                    <div id="preview" class="d-flex flex-wrap">
                        {{#if producto.imagen}} 
                            {{#each producto.imgs}}
                                <img class="img-fluid w-50" 
                                src="/img/{{this}}"
                                alt="Card image cap">
                            {{/each}}
                        {{else}}
                            <img class="card-img-top" 
                            src="/img/sinimagen.png" 
                            alt="Card image cap">
                        {{/if}} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/crearProducto.js"></script>