<div class="row w-100">
    {{>sidebar}}
    <div class="col-md-10">
    <div class="row" id="App">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>{{titulo}}</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{action}}">
                        <div class="form-group">
                            <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" value="{{user.nombre}}">
                            <span class="text-danger">{{e.nombre}}</span>
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" value="{{user.apellido}}">
                            <span class="text-danger">{{e.apellido}}</span>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" placeholder="Email" class="form-control" value="{{user.email}}">
                            <span class="text-danger">{{e.email}}</span>
                        </div>
                        <div class="form-group">
                            <select id="rol" name="rol" class="form-control">
                                <option value="0">Rol</option>
                                {{#each roles as |item|}}
                                <option value="{{item}}" {{#if (estado @root.user.rol item)}}selected{{/if}}>{{item}}</option>
                                {{/each}}
                            </select>
                        </div>
                        {{#unless (estado boton 'Editar')}}
                        <div class="form-group">
                            <input type="password" name="password" id="password" placeholder="Password" class="form-control">
                            <span class="text-danger">{{e.password}}</span>
                        </div>
                        {{/unless}}
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">{{boton}}</button>
                            <a href="/admin/users" class="btn btn-sm btn-light">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>