<div class="contenedor">
    <div class="fila">
        {{#each productos}}
        <div class="tarjeta">
            <div class="tarjeta-imagen">
                <img src="/img/{{imgs}}" alt="">
                <p>$ {{precio}}</p>
                <div class="imagen-icon">
                    <i class="fas fa-music"></i>
                </div>
            </div>
            <div class="tarjeta-cuerpo">
                <div class="tarjeta-titulo">
                    <h6>{{categoria.nombre}}</h6>
                </div>
                <div class="tarjeta-texto">
                    <p>{{nombre}}</p>
                </div>
                <div class="tarjeta-botones">
                    <a href="/producto/{{id}}"><i class="fas fa-plus-circle"></i>Ver</a>
                    <a href="/cart/agregar/{{id}}/1"><i class="fas fa-cart-plus"></i>Añadir</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>